/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2016, 5:05:16 PM
    Author     : KULADEEP
*/

.star-ratings {
  background: url("../images/star-rating.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  position: relative;
}
.star-ratings-rating {
  background: url("../images/star-rating.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
